Package: cc.igerman.tiktokusregion
Name: TitCock
Version: 0.0.2
Architecture: iphoneos-arm
Description: Reasonably simple TikTok tweak. Changes the region to the US, protects against jailbreak detection, removes ads, adds a simple "fuck off and download" button (patent pending).
Maintainer: iGerman
Author: iGerman
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
