Package: xi.fuckcpp.rootless-sim-carrier-country-hook
Name: rootless-sim-carrier-country-hook2
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Xi
Author: Xi
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
